.terms-border {
  border: solid 3px !important;
  border-color: #8f00ff !important;
}

.terms-close-modal {
  background-color: #a41ef165;
}
.terms-accept-btn{
    background-color: #00f0ff;
    cursor: pointer;
}

.terms-accept-btn:hover:not(:disabled){
    background-color: #8f00ff;
}

.terms-accept-btn:disabled{
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.terms-decline-btn{
    background-color: #64646465;
}
.terms-decline-btn:hover{
    background-color: #ff000065;
}