.left-panel {
  flex: 1 1 200px;
  text-align: center;
  width: 50px;
}

.profile-avatar {
  width: 190px;
  height: 280px;
  border-radius: 20px;
  border: 3px solid cyan;
}

.gear-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  top: -120px;
  right: 1px;
  color: cyan;
}

.avatar-section {
  position: relative;
}

.location {
  margin: 10px 0;
  color: #ccc;
}

.medal-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.medal-game-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: linear-gradient(145deg, #0e0e1a, #1a1a2f);
  border-radius: 10px;
  border: 2px solid #7f00ff;
}

.medal-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.gameImg {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
}

